h1{
    color: blueviolet;
    text-align: center;
}

.add-product{
    text-align: center;
}
  

.common-form{
    text-align: center;
   display: flex;
   margin: auto;
   flex-direction: column;
   width: 300px;
   
}
.form-input{
    height: 35px;
    border:3px solid blueviolet;
    margin-bottom: 14px;
    padding-left: 10px; 
    color: blueviolet;
}

.form-button{
margin-top: 30px;
    height: 35px;
    /* width: fit-content; */
    /* margin-left: 100px; */
    /* border:6px solid blueviolet; */
    border:1px solid blueviolet;
    cursor: pointer;
    color: blueviolet;
 
}