<div class="heading">
  <h1>Products</h1>
</div>

<div class="container">
  <!-- Search box -->
  <div class="input-group mb-3">
      <input type="text" class="form-control search-input" placeholder="Search for products value" [(ngModel)]="searchText" (ngModelChange)="search($event)">
      <button class="btn btn-outline-secondary search" type="button" (click)="search()">Search</button>
  </div>

  <!-- Product table -->
  <div *ngIf="productList">
      <table class="table table-striped table-bordered">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Price</th>
                  <th scope="col">Description</th>
                  <th scope="col">Published</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of filteredProductList">
                  <td>{{ product.title }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.published ? 'Yes' : 'No' }}</td>
                  <td>
                    <button class="btn btn-primary" [routerLink]="['/edit-product', product.id]">Edit</button>
                      &nbsp;<button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

 
  <button class="btn btn-primary buttonstyle" routerLink="/add-product">Add Product</button>
</div>
